 select:hover {
  border-color: #06b6d4; /* cyan-500 */
  transition: 0.2s;
 }

  .custom-swiper-button {
    color: #06b6d4; /* cyan-500 */
    font-weight: bold;
    text-shadow: 0 0 6px rgba(0,0,0,0.3);
  }

  .custom-swiper-button::after {
    font-size: 32px !important;
  }

